<header class="header"
style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
<div class="header__columns">
    <div class="header__col"><a href="/" aria-current="page" class="header__logo w-inline-block w--current">
            <div class="text-block">Sajib Baran Shyamal</div>
        </a></div>
    <nav class="header__nav"><a href="/not_programming" data-animate="link" class="header__nav-link">not programming</a>
        <div class="spacer"></div><a href="/static/resume/_Sajib Baran Shyamal.Resume (2).pdf" data-animate="link" target="_blank"
            class="header__nav-link">resume</a>
    </nav>
    <div class="header__humburger-wrap">
        <div data-is-ix-target="1" class="header__humburger" data-w-id="34934037-5f96-c0ad-d15b-e8f78205c5fb"
            data-animation-type="lottie"
            data-src="https://uploads-ssl.webflow.com/61bb6d5c4bb2b5636b930f8c/61be8b3391144d50ef57b95e_hamburger-close.json"
            data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="1.2"
            data-duration="0"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 100 100" width="100" height="100" preserveAspectRatio="xMidYMid meet"
                style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                <defs>
                    <clipPath id="__lottie_element_2">
                        <rect width="100" height="100" x="0" y="0"></rect>
                    </clipPath>
                </defs>
                <g clip-path="url(#__lottie_element_2)">
                    <g transform="matrix(1,0,0,1,51,30)" opacity="1" style="display: block;">
                        <g opacity="1" transform="matrix(2,0,0,2,0,0)">
                            <path fill="rgb(182,72,9)" fill-opacity="1"
                                d=" M15.5,0 C15.5,0 15.5,0 15.5,0 C15.5,1.1038000583648682 14.603799819946289,2 13.5,2 C13.5,2 -13.5,2 -13.5,2 C-14.603799819946289,2 -15.5,1.1038000583648682 -15.5,0 C-15.5,0 -15.5,0 -15.5,0 C-15.5,-1.1038000583648682 -14.603799819946289,-2 -13.5,-2 C-13.5,-2 13.5,-2 13.5,-2 C14.603799819946289,-2 15.5,-1.1038000583648682 15.5,0z">
                            </path>
                        </g>
                    </g>
                    <g transform="matrix(1,0,0,1,51,50)" opacity="1" style="display: block;">
                        <g opacity="1" transform="matrix(2,0,0,2,0,0)">
                            <path fill="rgb(182,72,9)" fill-opacity="1"
                                d=" M15.5,0 C15.5,0 15.5,0 15.5,0 C15.5,1.1038000583648682 14.603799819946289,2 13.5,2 C13.5,2 -13.5,2 -13.5,2 C-14.603799819946289,2 -15.5,1.1038000583648682 -15.5,0 C-15.5,0 -15.5,0 -15.5,0 C-15.5,-1.1038000583648682 -14.603799819946289,-2 -13.5,-2 C-13.5,-2 13.5,-2 13.5,-2 C14.603799819946289,-2 15.5,-1.1038000583648682 15.5,0z">
                            </path>
                        </g>
                    </g>
                    <g transform="matrix(1,0,0,1,51,70)" opacity="1" style="display: block;">
                        <g opacity="1" transform="matrix(2,0,0,2,0,0)">
                            <path fill="rgb(182,72,9)" fill-opacity="1"
                                d=" M15.5,0 C15.5,0 15.5,0 15.5,0 C15.5,1.1038000583648682 14.603799819946289,2 13.5,2 C13.5,2 -13.5,2 -13.5,2 C-14.603799819946289,2 -15.5,1.1038000583648682 -15.5,0 C-15.5,0 -15.5,0 -15.5,0 C-15.5,-1.1038000583648682 -14.603799819946289,-2 -13.5,-2 C-13.5,-2 13.5,-2 13.5,-2 C14.603799819946289,-2 15.5,-1.1038000583648682 15.5,0z">
                            </path>
                        </g>
                    </g>
                </g>
            </svg></div>
        <div style="display: none;" class="header__humburger-close"></div>
    </div>
</div>
<div class="content"></div>
</header>
<div style="opacity: 0; display: none;" class="menu">
<div style="transform: translate3d(0px, -20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;"
    class="menu__content">
    <nav class="menu__nav"><a href="/not_programming" class="menu__nav-link">not programming</a><a
            href="/static/resume/_Sajib Baran Shyamal.Resume (2).pdf"
            class="menu__nav-link mod--even">resume</a></nav>
</div>
{% block body %}{% endblock body %}
